/* reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* back */
.back {
  position: relative;
}
.back_top {
  height: 100px;
  background-color: #009688;
}
.back_middle {
  height: 800px;
  background-color: #dadbd4;
}
/* container */
.container {
  height: 700px;
  background-color: #fff;
  position: absolute;
  top: 1rem;
  left: 5rem;
  display: flex;
}

/* site_bar */
.site_bar {
  height: 100%;
  background-color: #000;
  width: 350px;
}
/* profile */
.profile {
  height: calc(100px - 1rem);
  background-color: #eaeaea;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0.5rem;
}
.profile_img {
  display: flex;
  align-items: center;
}
img {
  border-radius: 50%;
}
.profile_icons > i {
  padding: 0 0.5rem;
  color: #b1b1b1;
}
/* notifications */
.notifications {
  height: 100px;
  background-color: #8edafc;
  display: flex;
  align-items: center;
  padding: 0 0.5rem;
}
.bell {
  height: 50px;
  width: 50px;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #8edafc;
}
.notifications_text > a {
  color: #6d9290;
  font-size: 0.8rem;
}

/* search */
.search {
  height: 50px;
  background-color: #eaebe7;
  display: flex;
  align-items: center;
  position: relative;
}
.search > i {
  position: absolute;
  left: 1rem;
  color: #b6b9bb;
}
.form-control::placeholder {
  color: #b6b9bb;
}
/* site_right */
.site_right {
  height: 100%;
  background-color: grey;
  width: calc(100% - 350px);
}
